spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: redis
      port: 6379
      client-type: lettuce
      connect-timeout: 5000
      lettuce:
        shutdown-timeout: 200ms
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0
  elasticsearch:
    uris: ${ELASTIC_SEARCH_URI}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    open-in-view: off

elasticsearch:
  index-name: ${ELASTIC_SEARCH_INDEX_NAME}
  input-index-name: ${ELASTIC_SEARCH_INPUT_INDEX_NAME}

server:
  port: 80
#  ssl:
#    enabled: truedocker buildx build --platform linux/arm64,linux/amd64 -t igriss004/listin-app:latest .
#    key-store: classpath:keystore.p12
#    key-store-password: ${SERVER_SSL_KEY_STORE_PASSWORD}
#    key-store-type: ${SERVER_SSL_KEY_STORE_TYPE}
#    key-alias: ${SERVER_SSL_KEY_ALIAS}

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 15552000000 # 6 months #1800000 #  30 minutes (for deployment)
      refresh-token:
        expiration: 15552000000 # 6 months (for deployment)

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket:
        ${AWS_BUCKET_NAME}
      region: ${AWS_BUCKET_REGION}
      cache-control: "public, max-age=2592000"


aws:
  s3:
    bucket:
      link:
        ${AWS_BUCKET_LINK}
