spring:
  config:
    import:
      - swagger-messages.yaml
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  application:
    name: ListIn
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH2_GOOGLE_CLIENT_ID}
            client-secret: ${OAUTH2_GOOGLE_CLIENT_SECRET}
            scope: profile, email
            redirect-uri: ${OAUTH2_REDIRECT_PAGE_URI}
            authorization-grant-type: authorization_code

          facebook:
            client-id: YOUR_FACEBOOK_CLIENT_ID
            client-secret: YOUR_FACEBOOK_CLIENT_SECRET
            scope: public_profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/facebook"
            client-authentication-method: post
            authorization-grant-type: authorization_code
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET_KEY}
      expiration: 31536000000 # 365 days | 86400000 # 1 day  | 60000 1 minute (for testing)
      refresh-token:
        expiration: 31536000000 # 365 days| 604800000 # 7 days

chunker-service:
  url: http://localhost:8088/api/v1/files/chunker