name: ListIn-Actions

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-integrate:

    name: Build with maven and push into docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Corretto JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: LogIn to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/listin-app:latest .

      - name: Push docker image
        run: |
          docker push  ${{ secrets.DOCKER_USERNAME }}/listin-app:latest

  deploy-and-deliver:

    name: Deploy into cloud and start
    runs-on: ubuntu-latest
    needs: build-and-integrate
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up private key
        run: |
          echo "${{ secrets.CLOUD_PRIVATE_KEY }}" > id_rsa
          chmod 600 id_rsa

      - name: Deploy to Cloud via SSH
        run: |
          echo "Loggin in to remote server via ssh"
          ssh -i id_rsa -o StrictHostKeyChecking=no ${{ secrets.CLOUD_USERNAME }}@${{ secrets.CLOUD_DNS }} << 'EOF'

          echo "Export environment variables"

          export ACTIVE_PROFILE="${{ secrets.ACTIVE_PROFILE }}"
          export SMTP_USERNAME="${{ secrets.SMTP_USERNAME }}"
          export SMTP_PASSWORD="${{ secrets.SMTP_PASSWORD }}"
          export OAUTH2_GOOGLE_CLIENT_ID="${{ secrets.OAUTH2_GOOGLE_CLIENT_ID }}"
          export OAUTH2_GOOGLE_CLIENT_SECRET="${{ secrets.OAUTH2_GOOGLE_CLIENT_SECRET }}"
          export OAUTH2_REDIRECT_PAGE_URI="${{ secrets.OAUTH2_REDIRECT_PAGE_URI }}"
          export JWT_SECRET_KEY="${{ secrets.JWT_SECRET_KEY }}"
          export AWS_ACCESS_KEY="${{ secrets.AWS_ACCESS_KEY }}"
          export AWS_SECRET_KEY="${{ secrets.AWS_SECRET_KEY }}"
          export AWS_BUCKET_CACHE_CONTROL="${{ secrets.AWS_BUCKET_CACHE_CONTROL }}"
          export AWS_BUCKET_LINK="${{ secrets.AWS_BUCKET_LINK }}"
          export AWS_BUCKET_NAME="${{ secrets.AWS_BUCKET_NAME }}"
          export AWS_BUCKET_REGION="${{ secrets.AWS_BUCKET_REGION }}"
          export SERVER_SSL_KEY_STORE="${{ secrets.SERVER_SSL_KEY_STORE }}"
          export SERVER_SSL_KEY_STORE_PASSWORD="${{ secrets.SERVER_SSL_KEY_STORE_PASSWORD }}"
          export SERVER_SSL_KEY_STORE_TYPE="${{ secrets.SERVER_SSL_KEY_STORE_TYPE }}"
          export SERVER_SSL_KEY_ALIAS="${{ secrets.SERVER_SSL_KEY_ALIAS }}"
          export DATABASE_USERNAME="${{ secrets.DATABASE_USERNAME }}"
          export DATABASE_PASSWORD="${{ secrets.DATABASE_PASSWORD }}"
          export DATABASE_URL="${{ secrets.DATABASE_URL }}"
          export ELASTIC_SEARCH_URI="${{ secrets.ELASTIC_SEARCH_URI }}"
          export ELASTIC_SEARCH_INDEX_NAME="${{ secrets.ELASTIC_SEARCH_INDEX_NAME }}"

          echo "Stopping docker compose"
          docker compose down || true

          echo "Removing docker image"
          docker rmi -f ${{ secrets.DOCKER_USERNAME }}/listin-app || true

          echo "Pulling docker image from remote, and starting it"
          docker compose pull
          docker compose up -d

          EOF